<section>
<img style="width: 125%;" src="http://angularjs.org/img/AngularJS-large.png" alt="AngularJS Logo">
<ul>
	<li>Ein innovatives client-seitiges JavaScript Framework</li>
	<li>Lauffähig auf allen modernen Mobile- und Desktopbrowsern </li>
	<li>Eine gute Grundlage für intuitiv erweiterbare und wartbare Web-Frontends</li>
</ul>
</section>
<section >
	<h2>Was ermöglicht Angular?</h2>
	<ul>
		<li>HTML für dynamische Views mit eigenen Tags erweitern</li>
		<!--pre><code>
		&lt;mytag ng-model="model"&gt;&lt;/mytag&gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;li&gt;MVC verwenden!&lt;/li&gt;
		&lt;pre&gt;&lt;code&gt;
		myController function($scope){
		$scope.model = "genießen";
		$scope.emphaticModel = $scope.model + "!!!";
		}
		...
		&lt;p myattribute&gt; Angular {{emphaticModel}} &lt;/p&gt;
		</code></pre-->
		<li>Das Two-Way Binding nutzen<!--input type="text" ng-model="model"--></li>
		<li>MVC, Service Abstraction und Dependency Injection verwenden</li>
	</ul>
</section>